//Font style
$text-font-stack: 'Roboto', sans-serif, !default;


//Color Style
$default-color: #ffffff;
$primary-color: #DD3965;
$secondary-color: rgb(34, 78, 96);
$color-font-stack: #43626d;

$ops-color-01: #848484;
$ops-color-02: #0B2E3D;
$ops-color-03: #ff94b1;
$ops-color-04: #FF9CB6;
$ops-color-05: rgb(255, 90, 134);
$ops-color-06: rgb(0, 0, 0);