.box-button
    ul
        //- li
        //-     a(class="btn-link dl-link" href="#")
        //-         .btn-download
        //-             p#btn-title Download PDF Portfolio
        //-             p#btn-desc Resume and Portfolio Version 2.0
        //-             img(id="ic-download" src="./static/icons/ic_download.png")
        li
            a(class="btn-link touch-link" target="_blank" href="mailto:hi@syabany.com?subject=Hi%20Rendy,%20Let's%20Talk")
                .btn-touch
                    p#btn-title Get in touch
                    p#btn-desc Let’s touch me by email
                    img(id="ic-mail" src="./static/icons/ic_mail.png")