.box-info
    p#info-desc
    | Hi, I am Rendyansyah Syabany (23 years old). You can call me Rendy. I am a UIX Designer and Front-end Engineer.
    | Currently working as UIX Designer at Tukang.com and also Founder of 
    a(class="link-desc" target="_blank" href="https://syrecreative.com") Syre Creative
    |  and 
    a(class="link-desc" target="_blank" href="https://prinin.id") Prinin.id