.box-info
    p#info-desc
    | Hi, I am 
    span#name Rendyansyah Syabany 
    | (23 years old). I am an UIX Designer, Front-end Engineer 
    | and as Founder of 
    a(class="link-desc" target="_blank" href="https://labs.syabany.com") Syabany Labs
    //- |  and 
    //- a(class="link-desc" target="_blank" href="https://prinin.id") Prinin.id