.box-social
    a(class="social social-first" target="_blank" href="https://behance.net/rendysyabany")
        //- img(class="social-first" src="./static/icons/ic_behance.png")
        .ic-01.icons
    a(class="social social-second" target="_blank" href="https://www.linkedin.com/in/rendyansyah-syabany")
        //- img(class="social-second" src="./static/icons/ic_linkedin.png")
        .ic-02.icons
    a(class="social social-second" target="_blank" href="https://instagram.com/rendysyabany")
        //- img(class="social-second" src="./static/icons/ic_instagram.png")
        .ic-03.icons
    a(class="social social-second" target="_blank" href="https://t.me/rendysyabany")
        //- img(class="social-second" src="./static/icons/ic_telegram.png")
        .ic-04.icons
    a(class="social social-second" target="_blank" href="https://github.com/syabany")
        //- img(class="social-second" src="./static/icons/ic_github.png")
        .ic-05.icons
    a(class="social social-second" target="_blank" href="https://dribbble.com/rendysyabany")
        //- img(class="social-second" src="./static/icons/ic_dribbble.png")
        .ic-06.icons