
<div class="box-button">
  <ul>
    <li><a class="btn-link dl-link disable" href="#">
        <div class="btn-download">
          <p id="btn-title">Download PDF Portfolio</p>
          <p id="btn-desc">Resume and Portfolio Version 2.0</p><img id="ic-download" src="./static/icons/ic_download.png"/>
        </div></a></li>
    <li><a class="btn-link touch-link" target="_blank" href="mailto:hi@syabany.com?subject=Hi%20Rendy,%20Let's%20Talk">
        <div class="btn-touch">
          <p id="btn-title">Get in touch</p>
          <p id="btn-desc">Let’s touch me by email</p><img id="ic-mail" src="./static/icons/ic_mail.png"/>
        </div></a></li>
  </ul>
</div>