
<div class="box-social"><a class="social social-first" target="_blank" href="https://behance.net/rendysyabany">
    <div class="ic-01 icons"></div></a><a class="social social-second" target="_blank" href="https://www.linkedin.com/in/rendyansyah-syabany">
    <div class="ic-02 icons"></div></a><a class="social social-second" target="_blank" href="https://instagram.com/rendysyabany">
    <div class="ic-03 icons"></div></a><a class="social social-second" target="_blank" href="https://t.me/rendysyabany">
    <div class="ic-04 icons"></div></a><a class="social social-second" target="_blank" href="https://github.com/syabany">
    <div class="ic-05 icons"></div></a><a class="social social-second" target="_blank" href="https://dribbble.com/rendysyabany">
    <div class="ic-06 icons"></div></a></div>