.box-footer {
    #copyright {
        color: $ops-color-01;
        font-family: $text-font-stack;
        font-size: 13px;
        font-weight: 300;
        text-align: center;
        margin: 0 auto;
        bottom: 40px;
        left: 0;
        right: 0;
        position: absolute;
        visibility: hidden;
    }
}

@media only screen and (max-height: 699px) {
    .box-footer {
        #copyright {
            visibility: visible;
        }
    }
}