.bound-design
    img(class="design-item" src="./static/design-portfolio/tukangcom.jpg") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/prinin-cprofile.jpg") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/tukang-illustration.jpg") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/tukangcom-vendor.jpg") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/muhasabah.jpg") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/selvitag-1.jpg")

.bound-design
    img(class="design-item" src="./static/design-portfolio/selvitag-2.jpg")

.bound-design
    img(class="design-item" src="./static/design-portfolio/canapp.jpg")

.bound-design
    img(class="design-item" src="./static/design-portfolio/service-illustrations.jpg") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/resto-illustrations.jpg") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/ie.jpg") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/analytics.jpg") 
