.bound-design
    img(class="design-item" src="./static/design-portfolio/full-tukangb.png") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/full-prinin.png") 

.bound-design
    img(class="design-item" src="./static/design-portfolio/full-goorita.png") 
