.box-resume-item
    p#year-comp MAY 2019 - 
        span FOUNDER & CDO
    p#company Syabany.com

.box-resume-item
    p#year-comp AUG 2017 - 
        span CO FOUNDER
    p#company Prinin Indonesia

.box-resume-item
    p#year-comp OCT 2018 -  
        span HEAD OF CREATIVE
    p#company Syre Creative Studio

.box-resume-item
    p#year-comp MAY 2019 -  
        span FRONTEND ENGINEER
    p#company Silversea Indonesia

.box-resume-item
    p#year-comp APR 2018 -  
        span UIX DESIGNER
    p#company Tukang.com

.box-resume-item
    p#year-comp NOV 2017 -  
        span UIX DESIGNER
    p#company Ragamindo.com

.box-resume-item
    p#year-comp JUL 2017 -  
        span UIX & FRONT-END ENGINEER
    p#company Laxus Exera Technology

.box-resume-item
    p#year-comp APR 2016 -  
        span UIX & FRONT-END ENGINEER
    p#company Eragano Agritech Indonesia

.box-resume-item
    p#year-comp OCT 2015 -  
        span ART DIRECTOR & FRONT-END ENGINEER
    p#company Dadar Development