.box-resume-item
    p#year-comp 01 -  
        span GROWTH DESIGN
    p#company User I/Experience Design
    
.box-resume-item
    p#year-comp 02 -  
        span GROWTH DESIGN
    p#company Design Sprints
    
.box-resume-item
    p#year-comp 03 -  
        span GROWTH DESIGN
    p#company Design System
 
.box-resume-item
    p#year-comp 04 -  
        span GROWTH DESIGN
    p#company Branding Identity
    
.box-resume-item
    p#year-comp 05 -  
        span GROWTH DEVELOPMENT
    p#company Frontend Web Development
    
.box-resume-item
    p#year-comp 05 -  
        span GROWTH DEVELOPMENT
    p#company JAMstack Development