.box-resume-item
    p#year-comp 2020 -  
        span ROBUST Free Digital Course
    p#company Design & Dev Coordinator

.box-resume-item
    p#year-comp 2017 -  
        span IT Knowledge Micro
    p#company Speaker UI/UX Fundamental

.box-resume-item
    p#year-comp 2016 -  
        span Workshop Micro Tech Education
    p#company Speaker User Interface Design

.box-resume-item
    p#year-comp 2015 -  
        span Micro IT IPB
    p#company Coordinator of Multimedia Division

.box-resume-item
    p#year-comp 2014 -  
        span Head of Design
    p#company Gema Nusantara

.box-resume-item
    p#year-comp 2014 -  
        span Art Director
    p#company Charity Concert Gema Nusantara

.box-resume-item
    p#year-comp 2014 -  
        span Art Director
    p#company Hunt Hysteria Music Event