.dl-link{

    .btn-download{
        opacity: 0.2;
        width: 240px;
        height: 60px;
        background-color: $secondary-color;
        border-radius: 4px;
        color: $default-color;
        font-family: $text-font-stack;

        #btn-title{
            font-weight: 500;
            font-size: 15px;
            margin: 0 0 0 15px;
            padding: 12px 0 0 0;
            
        }

        #btn-desc{
            margin-top: 5px;
            font-weight: 300;
            font-size: 10px;
            padding: 0 0 0 16px;
            display: inline-flex;
        }

        #ic-download{
            position: absolute;
            width: 32px;
            margin: -13px 0 0 28px;
        }
    }
}