.dl-link{

    .btn-download{
        opacity: 1;
        width: 240px;
        height: 60px;
        background-color: $secondary-color;
        border-radius: 4px;
        color: $default-color;
        font-family: $text-font-stack;

        @include prefix((
            box-shadow: 15px 15px 40px -5px $ops-color-08,
            transition: all 300ms ease-out
        ), webkit moz);

        &:hover{
            @include prefix((
                box-shadow: 15px 15px 40px -5px $ops-color-09,
                transition: all 300ms ease-in
            ), webkit moz);
            margin-top: -10px;
        }

        #btn-title{
            font-weight: 500;
            font-size: 15px;
            margin: 0 0 0 15px;
            padding: 12px 0 0 0;
            
        }

        #btn-desc{
            margin-top: 5px;
            font-weight: 300;
            font-size: 10px;
            padding: 0 0 0 16px;
            display: inline-flex;
        }

        #ic-download{
            position: absolute;
            width: 32px;
            margin: -13px 0 0 28px;
        }
    }
}

.disable{
    pointer-events: none;
    cursor: default;
}