.gear-link{
    width: 66px;
    height: 66px;
    background-color: $default-color;
    display: flex;
    border-radius: 8px;

    @include prefix((
        transition: all 300ms ease-out
    ), webkit moz);

    &:hover{
        @include prefix((
            box-shadow: 5px 5px 30px -5px $ops-color-06,
            transition: all 300ms ease-in,
        ), webkit moz);
        margin-top: -10px;
    }

    .box-item{
        display: flex;
        justify-content: center;
        flex-direction: column;
        margin: 0 auto;

        .ic-design-gear{
            width: 38px;
            height: auto;
        }

        .ic-special{
            width: auto;
            height: 38px;
        }
    }
}