.icons{
    width: 32px;
    height: 32px;
    background-size: 32px;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;

    @include prefix((
        transition: all 700ms ease-out
    ), webkit moz);

    &:hover{
        @include prefix((
            box-shadow: 4px 8px 15px -5px $ops-color-01,
            transition: all 200ms ease-in
        ), webkit moz);
    }

}