.box-button
    ul
        li
            //- a(class="btn-link dl-link disable" href="https://drive.google.com/drive/folders/1tPIPsxzwq8ZLxgFpDxNOqcXihO3CH54p?usp=sharing")
            a(class="btn-link dl-link" target="_blank" href="https://drive.google.com/file/d/1cu9Ian0brvf-F5zi-YrVfPdybWFEBiBj/view?usp=sharing")
                .btn-download
                    p#btn-title Download PDF Resume
                    p#btn-desc There is Resume and portfolio 2.0
                    //- p#btn-desc Sorry. For now PDF file unavailable
                    img(id="ic-download" src="./static/icons/ic_download.png")
        li
            a(class="btn-link touch-link" target="_blank" href="mailto:me@syabany.com?subject=Hi%20Rendy,%20Let's%20Talk")
                .btn-touch
                    p#btn-title Get in touch
                    p#btn-desc Let’s touch me by email
                    img(id="ic-mail" src="./static/icons/ic_mail.png")