doctype html
html(lang='en')

    head
        include section/meta.pug
        include section/ink.pug

        title Rendyansyah Sya'bany
    body
        main
            .main.container-fluid
                .row
                    #main-left.left-content.col-xs-6
                        include section/left-content.pug
                            
                    #main-right.right-content.col-xs-offset-6.col-xs-6
                        include section/right-content.pug       
                        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")                                
        script(src="./js/main.js")                                

                                
                                
                                
                                

