doctype html
html(lang='en')

    head
        include meta.pug
        include link.pug
        
        title Rendyansyah Sya'bany
    body
        main
            .main.container-fluid
                .row
                    .left-content.col-xs-6
                        include section/left-content.pug
                            
                    .right-content.col-xs-offset-6.col-xs-6
                        include section/right-content.pug       
                                
                                
                                
                                
                                

