.left-content{
    background-color: $default-color;
    padding: 0 2rem;
    height: 100vh;
    position: fixed;
    
    .main-left-content{
        
        @import '../components/ava';

        .box-title{
            margin: 70px auto 0 auto;
            text-align: center;
            
            .title-desc{
                font-weight: 500;
                font-size: 26px;
                display: inline;
                font-family: $text-font-stack;
            }

            #desc-01{
                color: $primary-color;
            }

            #desc-02{
                color: $ops-color-01;
            }

            #desc-03{
                color: $secondary-color;
            }
        }

        .box-info{
            margin: 25px 60px 0 60px;
            text-align: center;
            color: $color-font-stack;
            font-family: $text-font-stack;
            font-weight: 300;
            font-size: 14px;
            line-height: 24px;

            #info-desc{
                
            }

            .link-desc{
                color: $primary-color;
                font-weight: 400;

                &:hover{
                    color: $secondary-color;
                    font-weight: 500;
                }
            }
        }

        @import '../layouts/section_social';

        .box-button{
            margin: 40px auto 0 auto;
            display: table;
            
            ul{
                list-style: none;
                display: inline-flex;
                padding-left: 0;
                
                li{
                    @import '../components/btn_dl_pdf';
                    @import '../components/btn_touchme';
                }
            }
        }

        @import './footer';
    }
}

@media only screen and (min-width: 300px) and (max-width: 568px){

    .left-content{
        
        .main-left-content{
            
            .box-title{
                
                .title-desc{
                    font-size: 22px;
                    line-height: 32px;
                }
            }
        }
    }

}