.box-volunteer{
    background-color: $ops-color-07;

    #resume-title{
        color: $primary-color;
    }

    .box-resume-item{

        #year-comp{
            color: $ops-color-08;
        }

        #company{
            color: $primary-color;
        }
    }
}