
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/tukangcom.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/tukangcom-vendor.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/muhasabah.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/selvitag-1.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/selvitag-2.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/canapp.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/service-illustrations.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/resto-illustrations.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/ie.jpg"/></div>
<div class="bound-design"><img class="design-item" src="./static/design-portfolio/analytics.jpg"/></div>