
<div class="my-gear dev">
  <p id="gear-title"> <span>.Front-end</span> Dev Gear</p>
  <ul class="item-list">
    <li class="first"><a class="gear-link" target="_blank" href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_html5.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://sass-lang.com/">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_sass.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://getbootstrap.com">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_bootstrap.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://materializecss.com">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_materialize.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://bulma.io">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/bulma.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://www.styled-components.com">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_styled_components.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="http://es6-features.org/">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_es6.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://gulpjs.com">
        <div class="box-item"><img class="ic-design-gear ic-special" src="./static/icons/dev-gear/ic_gulp.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://webpack.js.org">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_webpack.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://reactjs.org">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_react.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://redux.js.org">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_redux.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://nextjs.org">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_next.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://vuejs.org">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_vue.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://nextjs.org">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_nuxt.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://code.visualstudio.com">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/dev-gear/ic_vscode.png"/></div></a></li>
  </ul>
</div>