
<div class="my-gear design">
  <p id="gear-title"> <span>.UIX</span> Design Gear</p>
  <ul class="item-list">
    <li class="first"><a class="gear-link" target="_blank" href="https://www.sketch.com/">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_sketch.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://www.invisionapp.com/studio">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_invision_studio.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://www.adobe.com/products/xd.html">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_adobe_xd.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://www.adobe.com/products/photoshop.html">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_photoshop.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://affinity.serif.com/en-gb/">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_affinity_designer.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://www.adobe.com/products/illustrator.html">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_adobe_illustrator.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://www.invisionapp.com">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_invision.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://principleformac.com">
        <div class="box-item"><img class="ic-design-gear ic-special" src="./static/icons/design-gear/ic_principle.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://zeplin.io">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_zeplin.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://geticonjar.com/">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_iconjar.png"/></div></a></li>
    <li class="second"><a class="gear-link" target="_blank" href="https://mirr.io/">
        <div class="box-item"><img class="ic-design-gear" src="./static/icons/design-gear/ic_mirr.png"/></div></a></li>
  </ul>
</div>