
<div class="box-resume-item">
  <p id="year-comp">OCT 2018 -  <span>CO FOUNDER</span></p>
  <p id="company">Syre Creative Studio</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">AUG 2017 -  <span>CO FOUNDER</span></p>
  <p id="company">Prinin Indonesia - Prinin.id</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">APR 2018 -  <span>UIX DESIGNER</span></p>
  <p id="company">Tukang.com</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">NOV 2017 -  <span>UIX DESIGNER</span></p>
  <p id="company">Ragamindo.com</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">JUL 2017 -  <span>UIX & FRONT-END ENGINEER</span></p>
  <p id="company">Laxus Exera Technology</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">APR 2016 -  <span>UIX & FRONT-END ENGINEER</span></p>
  <p id="company">Eragano Agritech Indonesia</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">OCT 2015 -  <span>ART DIRECTOR & FRONT-END ENGINEER</span></p>
  <p id="company">Dadar Development</p>
</div>