
<div class="box-resume-item">
  <p id="year-comp">2017 -  <span>IT Knowledge Micro</span></p>
  <p id="company">Speaker UI/UX Fundamental</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">2016 -  <span>Workshop Micro Tech Education</span></p>
  <p id="company">Speaker User Interface Design</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">2015 -  <span>Micro IT IPB</span></p>
  <p id="company">Coordinator of Multimedia Division</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">2014 -  <span>Head of Design</span></p>
  <p id="company">Gema Nusantara</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">2014 -  <span>Art Director</span></p>
  <p id="company">Charity Concert Gema Nusantara</p>
</div>
<div class="box-resume-item">
  <p id="year-comp">2014 -  <span>Art Director</span></p>
  <p id="company">Hunt Hysteria Music Event</p>
</div>