.box-img {
    animation: avabounce 0.8s linear infinite alternate;
    width: 280px;
    height: 280px;
    overflow: hidden;
    border-radius: 18px;
    margin: 14% auto 0 auto;
    @include prefix(( box-shadow: 30px 30px 40px -5px #b3b3b3), webkit moz);
    img {
        width: 103%;
        display: block;
        margin-left: -3px;
        margin-top: 0;
    }
}

@keyframes avabounce {
    0%,
    100% {
        transform: translate(0, 0)
    }
    100% {
        transform: translate(0, -15px)
    }
}