.my-gear.design
    p#gear-title 
        span UIX
        |  Design Gear
        span .
    
    ul.item-list
        li.first
            a(class="gear-link" target="_blank" href="https://www.sketch.com/")
                .box-item
                        img(class="ic-design-gear" src="./static/icons/design-gear/ic_sketch.png") 

        li.second
            a(class="gear-link" target="_blank" href="https://www.figma.com")
                .box-item
                    img(class="ic-design-gear ic-special" src="./static/icons/design-gear/ic_figma.png") 

        li.second
            a(class="gear-link" target="_blank" href="https://www.invisionapp.com/studio")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/ic_invision_studio.png") 

        li.second
            a(class="gear-link" target="_blank" href="https://www.framer.com")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/framer.jpg") 

        li.second
            a(class="gear-link" target="_blank" href="https://www.adobe.com/products/xd.html")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/ic_adobe_xd.png")
        
        li.second
            a(class="gear-link" target="_blank" href="https://affinity.serif.com/en-gb/")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/logo_affinity_designer.png") 
        
        li.second
            a(class="gear-link" target="_blank" href="https://affinity.serif.com/en-gb/")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/logo_affinity_photo.png") 

        li.second
            a(class="gear-link" target="_blank" href="https://www.adobe.com/products/photoshop.html")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/ic_photoshop.png") 

        li.second
            a(class="gear-link" target="_blank" href="https://www.adobe.com/products/illustrator.html")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/ic_adobe_illustrator.png") 

        li.second
            a(class="gear-link" target="_blank" href="https://www.invisionapp.com")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/ic_invision.png") 

        li.second
            a(class="gear-link" target="_blank" href="https://principleformac.com")
                .box-item
                    img(class="ic-design-gear ic-special" src="./static/icons/design-gear/ic_principle.png") 

        li.second
            a(class="gear-link" target="_blank" href="https://zeplin.io")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/ic_zeplin.png")         

        li.second
            a(class="gear-link" target="_blank" href="https://geticonjar.com/")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/ic_iconjar.png")         

        li.second
            a(class="gear-link" target="_blank" href="https://mirr.io/")
                .box-item
                    img(class="ic-design-gear" src="./static/icons/design-gear/ic_mirr.png")         
