.box.main-left-content

    include ../components/left/ava.pug
    
    include ../components/left/title.pug

    include ../components/left/description.pug

    include ../components/left/social.pug

    include ../components/left/button.pug
    
    .box-footer
        p#copyright © <script type="text/javascript"> document.write(new Date().getFullYear()); </script>. Rendyansyah Syabany. Indonesia.
