.box.main-right-content
    section.box-gear
        
        include ../components/right/gear-design.pug

        include ../components/right/gear-dev.pug

    section.box-resume.box-volunteer
        p#resume-title 
            span .Superior  
            | Expertise
        include ../components/right/service.pug
        
    section.box-resume
        p#resume-title 
            span .Work 
            | Journey
        
        include ../components/right/resume.pug

    section.box-resume.box-volunteer
        p#resume-title 
            span .Volunteer 
            | Journey
        include ../components/right/volunteer.pug

    section.design-portfolio
        include ../components/right/design-portfolio.pug

    section.box-resume
        p#resume-title-fp
            span .Fullpage  
            | Selected Project 

    section.design-portfolio
        include ../components/right/design-portfolio-full.pug
    