.box.main-right-content
    section.box-gear
        
        include ../components/right/gear-design.pug

        include ../components/right/gear-dev.pug

    section.box-resume.box-volunteer
        p#resume-title 
            span Superior  
            | Expertise
            span .

        include ../components/right/service.pug
        
    section.box-resume
        p#resume-title 
            span Work 
            | Journey
            span .
        
        include ../components/right/resume.pug

    section.box-resume.box-volunteer
        p#resume-title 
            span Volunteer 
            | Journey
            span .

        include ../components/right/volunteer.pug

    section.box-resume
        p#resume-title-fp
            span Featured  
            | Projects
            span .

    section.design-portfolio
        include ../components/right/design-portfolio-full.pug    

    section.design-portfolio
        include ../components/right/design-portfolio.pug